
.como-funciona {
	position: relative;
	background-color: #6e4496;
	z-index: 1;
}

.como-funciona h2, 
.como-funciona h3 {
	color: #f9df19;
}

.como-funciona .img-criacao {
	float: left;
	margin-top: 208px;
	max-width: 100%;
	width: 600px;
}

.como-funciona .texto-como-funciona {
	float: right;
	margin: -76px 0 180px;
	max-width: 100%;
	width: 512px;
}

.como-funciona .texto-como-funciona .img-criative {
	height: 68px;
	margin-bottom: 0;
}

.como-funciona .texto-como-funciona p {
	margin-top: 32px;
}

.como-funciona .texto-sua-festa {
	clear: both;
	margin-top: 43px;
	margin-bottom: 200px;
}

.como-funciona .texto-sua-festa,
.como-funciona .texto-transparencia,
.como-funciona .texto-opcoes {
	float: left;
	max-width: 100%;
	width: 336px;
}

.como-funciona .texto-transparencia {
	margin: 55px 16px 0;
}

.como-funciona .texto-sua-festa h3,
.como-funciona .texto-sua-festa p,
.como-funciona .texto-transparencia h3,
.como-funciona .texto-transparencia p,
.como-funciona .texto-opcoes h3,
.como-funciona .texto-opcoes p {
	padding-left: 32px;
	padding-right: 32px;
}

.como-funciona .texto-sua-festa h3 {
	padding-top: 28px;
	padding-bottom: 30px;
}

.como-funciona .texto-transparencia h3,
.como-funciona .texto-opcoes h3 {
	padding-top: 46px;
	padding-bottom: 30px;
}

.como-funciona .transicao {
	background-image: url(../assets/img/transicao/transicao-branca.svg);
	clear: both;
}


